.is-info-open {
  margin-right: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
.parent-panel {
  width: 100%;
  position: relative;
}
.text-align-left {
  text-align: left;
}
